# .gitignore

# Ignore environment variables file
.env

# Python
__pycache__/
*.py[cod]
*.sqlite3
.pytest_cache

# Conda & Virtual Environments
env/
venv/
.venv
fastapi_env/

# Logs & Caches
*.log
*.pid

# VSCode
.idea/

# Docker
*.dockerfile
*.tar

# Files for local dev
folder structure.txt
